.home-li {  
    margin-top: 3.5%;
    /* margin-left: 2%; */
    display: grid;  
    grid-template-columns: 0.2fr 0.3fr 1fr ;
    grid-template-rows: 0.1fr 0.1fr 0.6fr;
    grid-column-gap: 1em;
    /* grid-row-gap: 0 3em ; */
    /* grid-gap: 1em; */
}
.home-li > \* {  
    grid-column: 3;  
}
.home-li > .home-figure {  
    grid-column: 2 / 3;  
    grid-row: 1 / 3;
    padding-bottom: 17%;
    
    /* margin: 0 5% ;   */
}

.home-figure {
  max-width: 300px;
  max-height: 200px;
  justify-items: left;
  cursor: pointer;
  /* border: 1.5px solid rgb(219, 221, 219); */
  /* max-block-size: 50%; */
}
.aside {  
    grid-column: 4;  
}

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|DM+Serif+Display|Rufina|Vidaloka&display=swap');
.home-story-title {
  grid-column: 3 / auto;
  grid-row: 1 / 2;
  font-size: 25px;
  font-family: 'DM Serif Display', serif;
  color: rgb(43, 42, 42);
  cursor: pointer;
  /* font-family: 'Rozha One', serif; */
  /* font-weight: 200; */
}
.home-story-author {
  grid-column: 3 / auto;
  /* grid-row: 1 / 2; */
  font-size: 18px;
  color: rgb(92, 91, 91);
  font-family: 'Rufina', serif;
  cursor: pointer;
  /* font-weight: 200px; */
}
/* .home-figure {
  max-height: 100%;
  max-width: 100%;
} */