.home-li {  
    margin-top: 3%;
    display: grid;  
    grid-template-columns: 1fr 1fr 10px 740px 10px 1fr 1fr;
}
.home-li > \* {  
    grid-column: 4;  
}
.home-li > .home-figure {  
    grid-column: 2 / -2;  
    margin: 20px 0;  
}

.home-figure {
  max-width: 900px;
  max-height: 400px;
}
.aside {  
    grid-column: 5;  
}
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|DM+Serif+Display|Rufina|Vidaloka&display=swap');
.home-story-title {
  grid-column: 2 / -2;
  font-size: 25px;
  font-family: 'DM Serif Display', serif;
  color: rgb(43, 42, 42);
  /* font-family: 'Rozha One', serif; */
  /* font-weight: 200; */
}
.home-story-author {
  grid-column: 2 / -2;
  font-size: 18px;
  color: rgb(92, 91, 91);
  font-family: 'Rufina', serif;
  
  /* font-weight: 200px; */
}
/* .home-figure {
  max-height: 100%;
  max-width: 100%;
} */