.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  background-color: rgba(255,255,255,.97);
  z-index: 10;
}
.modal-child-login, .modal-child-signup {
  width: 800px;
  height: 450px;
  border-radius: 4px;
  margin: 5px;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  background-color: white;
  box-shadow: 0px 2px 10px 0px silver;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 4px;
}
.modal-child-login{
  background-image: url(https://cdn-images-1.medium.com/max/900/1*Cs2lqW1GyoPdYqs1U0Xudg.png);
}
.modal-child-signup {
  background-image: url(https://cdn-images-1.medium.com/max/1800/1*gnUBeL-INIVDk0_GyL8x1g.png);
}
.modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1;
  padding: 15px;
  color: rgba(0,0,0,.54);
  background: rgba(0,0,0,0);
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
.form-heading {
  font-family: Georgia, 'Times New Roman', Times, serif; 
  color: rgba(0,0,0,.84);
  fill: rgba(0,0,0,.84);
  font-style: normal;
  font-size: 32px;
  font-weight: 510px;
  text-align: center;
  width: 450px;
  height: 36px;
  margin: 0 175px 20px 175px;
  transform: translateY(-2px);
}
.form-bio {
  width: 360px;
  height: 72px;
  margin: 0 220px 30px 220px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 350;
  text-align: center;
  font-family: sans-serif;
  color: rgba(0,0,0,.76);
  fill: rgba(0,0,0,.76);
}
.login-form-container {
  margin: 0 auto;
}
.login-input {
  display: flex;
  width: 275px;
  height: 30px;
  align-self: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 12px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(0,0,0,.56);
  fill: rgba(0,0,0,.56);
}
.session-submit {
  display: flex;
  margin: 15px auto 15px auto;
  background: rgba(211, 210, 210, 0.84);
  border-color: rgba(121, 120, 120, 0.84);
  color: rgba(20, 20, 20, 0.97);
  height: 25px;
  font-size: 13px;
  border-radius: 3px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.session-form-footer, .btn-block {
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.session-form-footer {
  display: flex;
  margin: auto;
  /* margin-left: 30%; */
  width: 500px;
  font-family: sans-serif;
  color: #232424;
  justify-content: center;

  /* div {
    display: none;
  }; */
}
.btn-block {
  border-width: 0;
  color: #07a77c;
  padding: 0;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}