.search-ul{
  position: absolute;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  height: auto;
  box-shadow: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 0;
  height: auto;
  margin-bottom: auto;
  min-width: 180px;
}
.search-ul > li{
    padding: 5px 0;
    border: 1px solid gray;
}

.search-form{
  background-color: white;
  display: inline-block;
  background-size: 25px 25px;
  margin: auto auto auto 30px;;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
.search:hover {
  cursor: pointer;
}

strong{
    font-weight: bolder;
    font-size: 18px;
}

.search-ul li a{
    text-decoration: none;
    color: black;
}

.search-selected{
  background-color: red;
  opacity: 0.8;
}
.search-input{
  box-sizing: border-box;
  width: 180px;
}